location ~ ^/img/(.*)$ {
    #add_header Cache-Control "public,max-age=31536000,immutable";
    set $path $1;
    if ($path = ""){
        return 404;
    }
    set $endpoint $s3_endpoint/$path;
    if ($is_args){
        set $endpoint "http://127.0.0.1:18888/?$args&endpoint=$endpoint";
    }
    proxy_pass $endpoint;
}
